@import "react-loading-skeleton/dist/skeleton.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800;
  background-image: radial-gradient(
    theme("colors.slate.200") 1px,
    transparent 1px
  );
  background-size: 16px 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
